.mat-select-content {
    .linked_items{
        width:100% !important;
    }
  } 
.mat-select-panel{
    max-width: 100% !important;
}
.mat-option-text{
    .optionblock{
        overflow: hidden;
        vertical-align: middle;
        width : 150px;
        display: inline-block;
        white-space: nowrap;
    }
    .middle{
        width:250px
    }
    .optiondate{
        display: inline-block;
        
    }
}

.wide-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
.full-width {
    width: 95%;
 }