.remarksticky{
    padding:10px;
    background-color: rgba(239,108,0,.15);
    color: #ef6c00;    
}

.remark{
    padding:10px;
    // border:1px solid  rgba(0, 0, 0, 0.12);
    // background-color: rgba(239,108,0,.15);
    // color: #ef6c00;    
}
