.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
}
.datepicker {
    max-width: 150px;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px !important;
    
}
::ng-deep .mat-form-field-subscript-wrapper{
    top:initial !important;
}
::ng-deep .mat-form-field-underline{
    bottom:initial !important;
}
.mat-input-wrapper{
    padding-bottom: 0px !important;

}